.tabLink {
    color: white;
}

.tab {
    margin: 12px 36px 12px 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    /* display: flex;
    justify-content: space-around;
    flex-direction: column; */
}

.tabs {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}

.logo {
    width: 100%;
    height: auto;
    /* height: 130px; */
}

.white {
    color: white;
}

.hamburger-menu {

}