.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
} 

.tabs {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}
.hamburger-button {
    margin: 20px;
}
.small-logo {
    margin-top: 15px;
    width: 100px;
    height: auto;
}
.small-logo:active {
    background-color:  rgba(240, 151, 80, 1);
}

.logo {
    width: 400px;
    height: auto;
    padding: 20px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #25272C;
    height: 100%;
}