.button-style {
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgba(240, 151, 80, 1);
    /* border: 2px solid; */
    /* border-radius: 5px; */
    /* background-color: #856d45; */

    /* background-color: ; */
}