.lesson-modal {
    margin: 25px;
}

.input-field {
      margin-top: 10px;
}

.form .MuiTextField-root {
    margin-top: 12px;
    margin-right: 10px;
}

.text-margin {
    margin-bottom: 20px;
}

.modal-footer {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
}
.modal-footer button{
    margin: 10px;
}

.validation-message {
    color: red;
}

.modal-title {
    margin-bottom: 20px;
}
