/* .page {
    height: 100%;
} */

html, body, #page, #page>div {
    height: 100%
}

.page {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: large;
}

.main-photo {
    width: 1725px;
    height: 1124px;
}