
html, body, #page, #page>div {
    margin-top: 100px;
    height: 100%
}

.title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 64px;
}

.sub-title {
    font-weight: bold;
    font-size: 24px;
}