
.font-large {
    font-size: 24px;
}

.font-small {
    font-size: 16px;
}

.title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 64px;
    text-transform: uppercase;
}

.sub-title {
    font-weight: bold;
    font-size: 24px;
}