
.font-large {
    font-size: 24px;
}

.font-small {
    font-size: 16px;
}

@media all and (max-width: 1000px) {
    .title {
        font-size: 32px;
        margin-bottom: 48px;
    }
}

@media all and (min-width: 1000px) {
    .title {
        font-size: 48px;
        margin-bottom: 64px;
    }
}

.title {
    text-align: center;
   
    text-transform: uppercase;
}

.sub-title {
    font-weight: bold;
    font-size: 24px;
}

.text-wrapper {
    margin: 0 auto;
    white-space: pre-wrap;
}
@media all and (min-width: 1000px) {
    .text-wrapper {
        width: 900px;
    }
  }

@media all and (max-width: 1000px) {
    .text-wrapper {
        margin: 20px;
    }
}

