.light {
    color: white;
}

.dark {
    color: gray;
}

.tabText {  
    font-size: 24px;
    text-decoration: none;
}

.side-tab {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.non-touch .dropdown:hover .dropdown-content {display: block;}

.non-touch .dropdown-content a:hover {
    background: #856d45
    /* background: rbga(133, 109, 69, .75); */
    /* background: rgba(240, 151, 80, 1); */
}
.side-option {
    text-decoration: none;
    margin-left: 30px;
    padding: 10px;
    color: gray;
}

.top-tab {
    margin: 10px 0px 0px;
    padding: 10px 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(240, 151, 80, 1);
    min-width: 160px;
    z-index: 1;
}

.non-touch .dropdown:hover .top-tab {
    background: rgba(240, 151, 80, .75);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}