

.non-touch .rowWrapper:hover {
    background: rgba(186, 167, 115, 0.3);
    cursor: pointer;
}
td {
    padding: 25px;
}
.small-row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 25px 25px;
}
.right-side {
    text-align: right;
}
.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eventWrapper { 
    text-transform: uppercase;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

table {
    border-collapse: collapse;
}

.event-title {
    color:#e88f48;
}

.loading-spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
